@font-face {
    font-family: "avant";
    src: url("./fonts/ITCAvantGardeStdBold.otf");
    font-style: normal;
}
@font-face {
    font-family: "Nunito";
    src: url("./fonts/Nunito-Regular.ttf");
    font-style: normal;
}
*{
    padding: 0;
    margin: 0;
}

.firstColumn{
    background-color: rgba(69, 5, 179, 1);
    height: 79px;
}

.logoImg{
    display: block;
    position: absolute;
    width: 150px;
    margin-top: 24px;
    margin-left: 20px;
}
.first-col{
    display: none;
}
.secondColumn{
    background-color: rgb(255, 255, 255);  ;
}
.signUp{
    margin-left: 20px;
    margin-top: 80px;

    font-family: Nunito;
    font-size: 16px;
}
.SiguUpColored{
    color:rgb(137, 196, 15);
    font-weight: 700;
}
.SignName{
    font-size: avant;
    color: rgba(48, 3, 124, 1);
    margin-left: 20px;
    font-size: 24px;
    font-weight: 600;
    margin-top: 20px;
    
}
.SignName-Login{
    font-family: Nunito;
    font-size: 14px;
    color: rgb(113, 101, 133);
    margin-left: 20px;
}
.Input input{
    font-family: Nunito;
    font-size: 14px;
    width: 300px;
    height: 60px;
    margin-left: 20px;
    border-radius: 10px;
    border: none;
    background: rgba(242, 242, 242, 1);
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 20px;
}
.Forgot{
    margin-top: 16px;
    font-family: Nunito;
    font-size: 14px;
   margin-left: 130px;
}
.ForgotColored{
    color:rgb(137, 196, 15);
    font-weight: 700;
}
.SignInContainer{
    width: 300px;
    height: 60px;
    background: rgba(69, 5, 179, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    border-radius: 10px;
    border: none;
    margin-left: 20px;
}
.SignInContainer-word{
    font-family: Nunito;
    font-size: 16px;
    font-weight: 600;
    color: rgba(242, 242, 242, 1);
    cursor: pointer;
}
.secondColumn a{
    text-decoration: none;
}

@media (min-width: 992px) {  
    .firstColumn{
        top:0;
        left: 0;
        position: absolute;
        height: 100%;
    }
    .first-column-bg{
        background: url("./assets/PURPLE.svg");
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        position: absolute;
        display: block;
        margin-left: -10px;
    }
    .logoImg{
        width: 150px;
        margin-left: 70px;
        margin-top: 30px;
        
    }
    .first-col{
        margin-left: 70px;
        margin-top: 200px;
        display: block;
    }
    .welcome{
        
        width: 500px;
        color: rgb(255, 255, 255);    
        font-family: avant;
        font-weight: 700;
    }
    .welcome-sub{
        width: 350px;
        font-weight: 400;
        margin-top: 20px;
        font-family: Nunito;
        font-size: 14px;
        color: rgb(255, 255, 255);  
    }
    .circles{
        display: flex;
        flex-direction: row;
        margin-left: 70px;
        margin-top: 30px;
        
    }
    .circles .circles-2{
        width: 16px;
        height: 16px;
        background:  rgba(144, 81, 251, 0.44);
        border-radius: 30px;
        margin-left: 10px;
        
    }
    .circles-2set{
        width: 16px;
        height: 16px;
        border-radius: 30px;
      
        background: rgba(137, 196, 15, 1);
    }
    .secondColumn{
        left: 50%;
        position: absolute;
        height: 100%;
    }
    .signUp{
        display: flex;
        justify-content: center;
        margin-top: 30px;
        font-family: Nunito;
        font-size: 16px;
    }
    .SiguUpColored{
        color:rgb(137, 196, 15);
        font-weight: 700;
    }
    .SignName{
        font-size: avant;
        color: rgba(48, 3, 124, 1);
        margin-left: 50px;
        font-size: 36px;
        font-weight: 600;
        margin-top: 99px;
        cursor: pointer;
    }
    .SignName-Login{
        font-family: Nunito;
        font-size: 18px;
        color: rgb(113, 101, 133);
        margin-left: 50px;
    }
    .Input input{
        font-family: Nunito;
        font-size: 14px;
        width: 400px;
        height: 70px;
        margin-left: 50px;
        border-radius: 10px;
        border: none;
        background: rgba(242, 242, 242, 1);
        padding-left: 20px;
        padding-right: 20px;
        margin-top: 20px;
    
    }
    .Forgot{
        margin-top: 16px;
        font-family: Nunito;
        font-size: 14px;
        margin-left: 250px;
    }
    .ForgotColored{
        color:rgb(137, 196, 15);
        font-weight: 700;
    }
    .SignInContainer{
        width: 400px;
        height: 70px;
        background: rgba(69, 5, 179, 1);
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 50px;
        margin-top: 30px;
        border-radius: 10px;
        border: none;
    
    }
    .SignInContainer-word{
        font-family: Nunito;
        font-size: 16px;
        font-weight: 600;
        color: rgba(242, 242, 242, 1);
        cursor: pointer;
    }
    .secondColumn a{
        text-decoration: none;
    }
}
