*{
    padding: 0;
    margin: 0;
}
body{
    background-color: rgb(255, 255, 255);
}
@font-face {
    font-family: "avant";
    src: url("./fonts/ITCAvantGardeStdBold.otf");
    font-style: normal;
}
@font-face {
    font-family: "Nunito";
    src: url("./fonts/Nunito-Regular.ttf");
    font-style: normal;
}
.first-column{
    background-color: rgba(69, 5, 179, 1);
    position: absolute;
    width: 50%;
    height: 100%;
    position: absolute;
    left: 0px;
    bottom: 0px;

}
.first-column-bg{
    background: url("./assets/PURPLE.svg");
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
}

.logoImg{
    width: 150px;
    margin-left: 90px;
    margin-top: 30px;
    
}
.first-col{
    margin-left: 90px;
    margin-top: 150px;
}
.welcome{
    color: rgb(255, 255, 255);    
    font-family: avant;
    font-weight: 700;
}
.welcome-sub{
    font-weight: 400;
 
    margin-top: 20px;
    font-family: Nunito;
    font-size: 14px;
    color: rgb(255, 255, 255);  
}
.circles{
    display: flex;
    flex-direction: row;
    margin-left: 80px;
    margin-top: 30px;
    
}
.circles .circles-2{
    width: 16px;
    height: 16px;
    background:  rgba(144, 81, 251, 0.44);
    border-radius: 30px;
    margin-left: 10px;
    
}
.circles-2set{
    width: 16px;
    height: 16px;
    border-radius: 30px;
    margin-left: 10px;
    background: rgba(137, 196, 15, 1);
}
.signUp{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    font-family: Nunito;
    font-size: 16px;
}
.SiguUpColored{
    color:rgb(137, 196, 15);
    font-weight: 700;
}
.SignName{
    font-size: avant;
    color: rgba(48, 3, 124, 1);
    margin-left: 50px;
    font-size: 36px;
    font-weight: 600;
    margin-top: 99px;
    cursor: pointer;
}
.SignName-Login{
    font-family: Nunito;
    font-size: 18px;
    color: rgb(113, 101, 133);
    margin-left: 50px;
}
.Input input{
    font-family: Nunito;
    font-size: 14px;
    width: 500px;
    height: 70px;
    margin-left: 50px;
    border-radius: 10px;
    border: none;
    background: rgba(242, 242, 242, 1);
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 20px;

}

.Forgot{
    margin-top: 16px;
    font-family: Nunito;
    font-size: 14px;
    margin-left: 350px;
}
.ForgotColored{
    color:rgb(137, 196, 15);
    font-weight: 700;
}
.SignInContainer{
    width: 500px;
    height: 70px;
    background: rgba(69, 5, 179, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
    margin-top: 30px;
    border-radius: 10px;
    border: none;

}
.SignInContainer-word{
    font-family: Nunito;
    font-size: 16px;
    font-weight: 600;
    color: rgba(242, 242, 242, 1);
}

@media (max-width: 576px) {
    .container-fluid{
        bottom: 0git ;
        width: 100%;
    }
   
    .first-col{
        display: none;
    }
    .circles{
        display: none;
    }
    .first-column{
        width: 100%;
        height: 79px;
        top: 0;
        position: absolute;
    }
    .first-column-bg{
        background-image: none;
    }
    .logoImg{
        margin-left: 60px;
        
    }
    .signUp{
        display: block;
        margin-top: 159px;
        margin-left: 20px;
    }
    .SignName{
        
        margin-left: 20px;
        font-size: 24px;
        margin-top: 20px;
    }
    .SignName-Login{
        margin-left: 20px;
        font-size: 14px;
    }
    .Input input{
       
        width: 330px;
        height: 60px;
        margin-left: 20px;
    }
    .Forgot{
        margin-left: 158px;
        font-size: 14px;
    }
    .SignInContainer{
        width: 330px;
        height: 60px;
      position: relative;
      left:-30px
       
    }
    .SignInContainer-word{
        left:-30px
    }
}

/*// Medium devices (tablets, 768px and up)*/
@media (max-width: 768px) { 
   
 }

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {  
    .container-fluid{
       
    }
}

/*// X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 
    .container-fluid{
       
    }
 }

/*// XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) {  }